@font-face {
    font-family: "Players";
    src: url("fonts/Players.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #242424;
    display: flex;
    font-family: "Players";
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    background-color: #e3e3e3;
    width: 935px;
    height: 935px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-fight {
    color: rgb(160, 44, 44);
    font-size: 140px;
    line-height: 1;
    text-shadow: 5px 5px rgb(75, 33, 33);
}

.title-of-the {
    color: rgb(44, 102, 160);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-size: 65px;
    padding-bottom: 7px;
    line-height: 0.8;
    text-shadow: 4px 4px rgb(21, 50, 08);
}

.title-elements {
    color: rgb(44, 160, 63);
    font-size: 110px;
    text-align: left;
    line-height: 0.5;
    padding-left: 1.3px;
    text-shadow: 5px 6px rgb(45, 80, 22);
}

.logic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logic h2 {
    width: 100%;
    text-align: center;
    font-size: 49px;
    letter-spacing: 3px;
    margin-bottom: 5px;
    padding-top: 13.8px;
}

.choices {
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.choices h2{
    font-size: 31px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.player-element-container h2{
    padding-left: 6px;
}

.player-element-container img {
    padding-inline-start: 16px;
}

.cpu-element-container img {
    padding-left: 57px;
}

.battle {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vs-header {
    font-size: 30px;
    letter-spacing: 5px;
    padding-bottom: 10px;
}

.vs-container{
    font-size: 40px;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
}

.vs-container img{
    padding-inline: 55px;
    height: 100px;
    width: auto;
    
}

.result {
    height: 70px;
    font-size: 27px;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}